# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
build/
dist/
*.o
*.a
*.so
.gradle/
android-app/.gradle/
android-app/build/
android-app/app/build/
android-project/app/build/
*.aab

# OS files
.DS_Store
Thumbs.db
*.tmp
.idea/
